*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches/*
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db
/build
/*/build/
/captures
.externalNativeBuild